<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>

    <div class="container">
      <div ng-controller="myController">
        <input ng-model="players.player1.choice" type="text" placeholder="Make a choice!"></input>
        <button type="submit" ng-click="computerChoice(); winConditions()">Play!</button>
        <p>Player Choice: {{players.player1.choice}}</p>
        <p>Computer Choice: {{players. player2.choice}}</p>
        <div>
          <p>Wins: {{players.player1.score}}</p>
          <p>Loses: {{players.player2.score}}</p>
          <p ng-show="players.player1.tie">It's a tie!</p>
        </div>
        <button type="submit" ng-click="init()">Reset Scores</button>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <script type="text/javascript" src="js/angular.js"></script>
  </body>
</html>
